@media  (max-width:1280px) {
    .mid_all {
        margin-left: 20px;
        margin-right: 20px;
    }
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width:1208px) {
    .container {
        max-width: 1208px;
    }
    .sub_box {
        width: 1208px;
    }
    .recipes {
        display: flex;
        justify-content: center;
        column-gap: 40px;
    }
    .cat_bot {
        flex-wrap: wrap;
        column-gap: 120px;
        justify-content: center;
        row-gap: 60px;
    }
    
}
@media (max-width:1025px) {
        .container {
            max-width: 1024px;
        }
        .sub_box {
            max-width: 1024px;
        }
        .right_kissing {
            z-index: 0;
        }
        .left_kissing {
            z-index: 0;
        }
        .post_wrapper {
            display: flex;
            flex-direction: column;
        }
        .recipes {
            display: flex;
            justify-content: center;
            column-gap: 40px;
        }
        .top_box {
            display: flex;
            flex-direction: column;
        }
        .top_box_right {
            display: flex;
            justify-content: center;
        }
        .badge {
            top:65%;
            left: 75%;
        }
        .cat_bot {
            display: flex;
            flex-flow: wrap;
            row-gap: 70px;
            column-gap: 50px;
            justify-content: space-around;
        }
        .sub_box button {
            right: 220px;
        }
}