*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}
.food{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 80px 40px ;
}
.food ul{
    display: flex;
    justify-content: center;
    column-gap: 60px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #000000;
}
.food a {
    color: #000000;
    text-decoration: none;
}

.logo{
    display: flex;
    column-gap: 40px;
}
.header_end {
    overflow: hidden;
}
.header_end::before {
    content: '';
    display: block;
    width: 1920px;
    margin: 0 auto;
    height: 1px;
    background-color: #0000001A;
}
.top__left h1{
    font-weight: 600;
    font-size: 64px;
    font-family: 'Inter', sans-serif;
    margin: 80px 0 48px;
}
.name__left{
    display: flex;
}
.name__left img {
    object-fit: cover;
}
.name{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.box {
    display: flex;
    justify-content: space-between;
}
.timer__time {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.cook__time {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.timer__first  {
    display: flex;
    align-items: center;
}
.prem__time {
    display: flex;
    align-items: center;
}
.forknife {
    display: flex;
    align-items: center;
}
.name span {
    font-family: 'Inter' , sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 19.36px;
letter-spacing: -0.02em;
}
.name p {
    font-family: 'Inter';
font-size: 14px;
font-weight: 500;
line-height: 16.94px;
letter-spacing: -0.02em;
color: #00000099;
}
.first::after{
    content: '';
    width:1px;
    height: 50px;
    background: #00000010;
    display: block;
    margin-left: 58px;
    margin-right: 32px;
}
.second::after{
    content: '';
    width:1px;
    height: 50px;
    background: #00000010;
    display: block;
    margin-left: 58px;
    margin-right: 32px;
}
.third::after{
    content: '';
    width:1px;
    height: 50px;
    background: #00000010;
    display: block;
    margin-left: 58px;
    margin-right: 32px;
}
.chicken{
font-family: 'Inter', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16.94px;
letter-spacing: -0.02em;
color: #00000060;
display: flex;
}
.chicken p {
    display: flex;
    align-items: center;
}
.timer__time p span{
font-family: 'Inter', sans-serif;
font-size: 12px;
font-weight: 500;
line-height: 14.52px;
letter-spacing: 0.1em;
color: #000000;
}
.timer__time p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    letter-spacing: -0.02em;
    color: #00000060;
}
.cook__time p span{
font-family: 'Inter', sans-serif;
font-size: 12px;
font-weight: 500;
line-height: 14.52px;
letter-spacing: 0.1em;
color: #000000;
}
.cook__time p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    letter-spacing: -0.02em;
    color: #00000060;
}
.name__left img{
    margin-right: 16px;
}
.top__right {
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.top__right button {
    border: none;
    background: none;
    text-align: end;
    cursor: pointer;
    margin-top: 128px;
}
.top__right button:hover {
    transform: scale(1.1);
    animation: ease-in-out;
    transition: 0.4s;
}
.top__right img {
    margin-bottom: 16px;
    
}
.top__right p {
    margin-right: 17px;
    font-family: 'Inter' ,sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    letter-spacing: 0.1em;
    color: #000000;
}
.mid__right{
    width: 400px;
    height: 600px;
    background: #E7FAFE;
    border-radius: 30px;
    position: relative;
    padding-left: 24px;
    padding-right: 32px;
}
.mid__right h2{
  font-family: 'Inter', sans-serif;
    font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 29.05px;
letter-spacing: -0.04em;
padding-left: 32px;
padding-top: 32px;
padding-bottom: 24px;
}
.mid__right p{
font-family: 'Inter', sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 21.78px;
letter-spacing: -0.04em;
color: #00000099;
}
.mid__right span{
font-family: 'Inter', sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 21.78px;
letter-spacing: -0.04em;

}
.photo__center{
    display: flex;
    column-gap: 40px;
    margin-top: 64px;
}
.calories{
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}
.psevdocal{
    margin-bottom: 10px;
}
.psevdocal::after{
    content: '';
    width: 336px;
    height: 1px;
    background: #0000001A;
    display: block;
    position: absolute;
    margin-bottom: 10px;
}

.total{
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.protein{
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.carbo{
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.cholester{
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}
.lorem p{
padding-top: 167px;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 28px;
color: #00000099;
}
.bottom__text{
  padding: 80px;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 28px;
color: #00000099;
}
.woman h1{
margin-left: 81px;
font-family: 'Inter', sans-serif;
font-size: 36px;
font-weight: 600;
line-height: 43.57px;
letter-spacing: -0.04em;
}
.directions h2{
font-family: 'Inter', sans-serif;
font-size: 24px;
font-weight: 600;
line-height: 29.05px;
letter-spacing: -0.02em;
}
.directions p{
font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: -0.02em;
color: #00000099;
width: 792px;
}
.directions img{
    padding: 48px 0 48px;
}
.directions span p::after{
    content: '';
    width: 840px;
    height: 1px;
    background: #0000001A;
    display: block;
    margin-top : 48px;
    margin-bottom: 48px;
}
.directions h2{
    padding: 48px 0 24px;
}
.lorem2 h2{
    padding: 48px 0 24px;
}
.lorem2 p::after{
    content: '';
    width: 840px;
    height: 1px;
    background: #0000001A;
    display: block;
    margin-top : 48px;
    margin-bottom: 48px;
}
.lorem3 h2{
    padding: 48px 0 24px;
}
.lorem3 p::after{
    content: '';
    width: 840px;
    height: 1px;
    background: #0000001A;
    display: block;
    margin-top : 48px;
    margin-bottom: 160px;
}
.sub_box {
    width: 1280px;
    height: 442px;
    border-radius: 60px;
    background-color: #E7F9FD;
    position: relative;
}
.left_kissing {
    position: absolute;
    left: 0px;
    top: 67px;
    border-radius: 30px;
    z-index: 101;
}
.sub {
    margin-bottom: 160px;
}
.right_kissing {
    position: absolute;
    right: 0;
    top: 200px;
    border-radius: 30px;
    z-index: 101;
}
.sub_box h2 {
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 600;
    line-height: 58.09px;
    letter-spacing: -0.04em;
    text-align: center;
    padding-top: 80px;
}
.sub_box p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    padding: 24px 64px;
    color: #00000099;
}
.sub_box {
    text-align: center;
    position: relative;
}
.sub_box input {
    border-radius: 30px;
    width: 480px;
    height: 80px;
    color: #000000;
    text-align: start;
    padding-left: 20px;
    border: none;
}
.sub_box button {
    width: 160px;
    height: 60px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 15px;
    position: absolute;
    right: 32%;
    margin-top: 10px;
    cursor: pointer;
}
.popup{
    width: 500px;
    height: 300px;
    background-color: #a9e5f3;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 111;
    display: none;
}
.popup.active{
    display: block;
}
.popup.active h2{
    padding: 7px;
    position: absolute;
    right: 1px;
    top: -15px;
    font-size: 40px;
}
.iks::before{
    content: '';
    width: 30px;
    height: 4px;
    background-color: black;
    display: block;
    z-index: 112;
    position: absolute;
    top: 30px;
    right: 10px;
    transform: rotate(45deg);
}
.iks::after{
    content: '';
    width: 30px;
    height: 4px;
    background-color: black;
    display: block;
    z-index: 112;
    position: absolute;
    top: 30px;
    right: 10px;
    transform: rotate(-45deg);
}
.popup.active h2:hover{
    cursor: pointer;
}
.popup h1{
    font-family: 'Inter', sans-serif;
    padding-bottom: 45px;
    font-size: 35px;
    padding-top: 40px;
    font-weight: 500;
}
.popup p{
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 20px;
}
.popup img{
  width: 50px;
    height: 50px;
}  
.menu__list{
    display: flex;
    column-gap: 40px;
}
.menu__list div {
    cursor: pointer;
}
.menu__list div:hover {
    transform: scale(1.1);
    animation: ease-in-out;
    transition: 0.4s;
}
.manu_list a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
}
.manu_list ul {
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
}
.manu_list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}
.manu_list p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #00000099;
}
.logo_footer {
    margin-bottom: 16px;
}
.footer_end::before {
    content: '';
    display: block;
    width: 1280px;
    height: 100px;
    color: #0000001A;
    margin: 0 auto;
    margin-bottom: 48px ;
}
.copyright P {
    font-family: 'Eudoxus Sans' ,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    letter-spacing: -0.02em;
    text-align: center;
}
.copyright a {
    text-decoration: none;
    color: #FF7967  ;
}
.copyright {
    position: relative;
    margin-top: 48px;
    margin-bottom: 48px;
}
.copyright::before{
    content: '';
    width: 1280px;
    height: 1px;
    background: #0000001A;
    display: block;
    margin-bottom: 48px;
    display: none;
}
.logo1 {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    column-gap: 40px;
    margin-top: 40px;
    }
    .menu{
        margin-bottom: 160px;
    }
.menu h1{
    margin: 160px 0 80px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.57px;
    letter-spacing: -0.04em;
    }
.son__fruits{
        display: flex;
        column-gap: 16px;
    }
    .fruits img {
        border-radius: 20px;
    }
.son__beef{
        display: flex;
        column-gap: 16px;
    }
.son__eggs{
        display: flex;
        column-gap: 16px;
    }
.son__shavuha{
        display: flex;
        column-gap: 16px;
    }
    .shavuha img {
        border-radius: 20px;
    }
.menu__list h5{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.04em;
    padding: 16px 0 24px;
}
.menu__list p{
    font-family: 'Inter' , sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    letter-spacing: -0.02em;
    color: #00000099; 
}
.ingridients{
    margin-top: 80px
}
.ingridients__left h3{
    padding: 48px 0 33px;
}
.ingridients__left p::after{
    content: '';
    width: 840px;
    height: 1px;
    display: block;
    background: #0000001A;
    margin: 33px 0 33px;
}
.ingredient-item input[type="checkbox"]:checked + span + p {
    text-decoration: line-through;
}
.ingredient_checkbox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.ingridients__bottom__right:hover{
    transform: scale(1.1);
    transition: 0.3s;
    animation: ease-in-out;
}
.custom-checkbox{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 30px;
    border: 2px solid #DBE2E5;
  }
.ingredient_checkbox {
    display: block;
    position: relative;
    padding-left: 35px; 
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .ingridient_checkbox:after {
    content: "";
    position: absolute;
    display: none;
  }
  .ingredient_checkbox input:checked ~ .custom-checkbox {
    background-color: #000000;
  }
  .custom-checkbox::after  {
    content: "";
    position: absolute;
    display: none;
  }
  .ingredient_checkbox input:checked ~ .custom-checkbox::after {
    display: block;
  }
  .ingredient_checkbox input:checked ~ .custom-checkbox::after {
    left: 7px;
    top: 5px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.ingridient__recipe{
    display: flex;
}
.ingridients__right{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.ingridients__right div {
    cursor: pointer;

}
.ingridients__right div:hover {
    transform: scale(1.1);
    transition: 0.4s;
    animation: ease-in-out;
}
.ingridients__right h1{
margin-bottom: 32px;
font-family: 'Inter', sans-serif    ;
font-size: 32px;
font-weight: 600;
line-height: 38.73px;
letter-spacing: -0.04em;

}
.ingridients__right h2{
    font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 600;
line-height: 28px;
letter-spacing: -0.04em;
}
.ingridients__right p{
    font-family: 'Inter', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16.94px;
letter-spacing: -0.02em;
color: #00000099;
}
.frikodelki{
    display: flex;
    margin-left: 40px;
}
.frikodelki img{
    border-radius: 20px;
    object-fit: cover;
}
.friko{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    row-gap: 16px;
}
.pasta{
    display: flex;
    margin-left: 40px;
}
.pasta img{
    border-radius: 20px;
    object-fit: cover;
}
.pastas{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    row-gap: 16px;
}
.cucumber{
    display: flex;
    margin-left: 40px;
}
.cucumber img {
    object-fit: cover;
}
.cucum{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    row-gap: 16px;
}
.ingridients__left h1{
 font-family: 'Inter', sans-serif    ;
font-size: 32px;
font-weight: 600;
line-height: 38.73px;
letter-spacing: -0.04em;
}
.ingridients__left h3{
font-family: 'Inter', sans-serif;
font-size: 24px;
font-weight: 600;
line-height: 29.05px;
letter-spacing: -0.04em;
}
.bottom__parent{
    display: flex;
}
.ingridients__bottom__right{
    position: relative;
}
.ingridients__bottom__right h3{
    position: absolute;
    left: 50px;
}
.ingridients__bottom__left p::after{
    content: '';
    width: 840px;
    height: 1px;
    background: #0000001A;
    display: block;
    margin: 33px 0 33px;
}
.ingridients__bottom__left h3{
font-family: 'Inter', sans-serif;
font-size: 24px;
font-weight: 600;
line-height: 29.05px;
letter-spacing: -0.04em;
padding: 48px 0 33px;
}
.ingridients__bottom__left p{
 font-family: 'Inter', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 21.78px;
letter-spacing: -0.02em;
}
.ingridients__bottom__right{
    padding-left: 40px;
}
.ingridients__left p{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    letter-spacing: -0.02em;
}

