*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}
.food{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 80px 40px ;
}
.food ul{
    display: flex;
    justify-content: center;
    column-gap: 60px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #000000;
}
.food a {
    color: #000000;
    text-decoration: none;
}

.logo{
    display: flex;
    column-gap: 40px;
}
.header_end {
    overflow: hidden;
}
.header_end::before {
    content: '';
    display: block;
    width: 1280px;
    margin: 0 auto;
    height: 1px;
    background-color: #0000001A;
}
 
 
.user__name{ 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 32px 0 48px; 
} 
.user__name span p{ 
    display: flex; 
    padding-left: 16px; 
    align-items: center; 
    font-family: 'Inter', sans-serif; 
font-size: 16px; 
font-weight: 700; 
line-height: 19.36px; 
letter-spacing: -0.02em; 
color: #000000; 
} 
.user__name p{ 
    font-family: 'Inter', sans-serif; 
font-size: 14px; 
font-weight: 500; 
line-height: 16.94px; 
letter-spacing: -0.02em; 
color: #00000099; 
} 
.user__name span p::after{ 
    content: ''; 
    width: 1px; 
    height: 40px; 
    background: #0000001A; 
    display: block; 
    margin-left: 61px; 
    margin-right: 24px; 
} 
.chef h1{ 
font-family: 'Inter', sans-serif; 
font-size: 64px; 
font-weight: 600; 
line-height: 77.45px; 
letter-spacing: -0.04em; 
margin-top: 80px; 
} 
.chef__bottom p{ 
 font-family: 'Inter', sans-serif; 
font-size: 16px; 
font-weight: 400; 
line-height: 28px; 
color: #00000099; 
width: 1059px; 
text-align: center; 
margin-left: 50px; 
} 
.chef__photo img{ 
    border-radius: 20px; 
    margin: 64px 0 80px; 
} 
.industry{ 
    display: flex; 
} 
.industry__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
}
.industry__left h2{ 
    margin-bottom: 24px; 
    font-family: 'Inter', sans-serif; 
font-size: 24px; 
font-weight: 600; 
line-height: 29.05px; 
letter-spacing: -0.04em; 
 
}
.share p {
    font-family: 'Inter' , sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    letter-spacing: 0.1em;
} 
.industry__left p{ 
    margin-bottom: 112px; 
    width: 839px; 
    font-family: 'Inter', sans-serif; 
font-size: 16px; 
font-weight: 400; 
line-height: 28px; 
color: #00000099; 
} 
.industry__fon{ 
    margin: 64px 0 64px; 
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%); 
    border-top: 1px solid #0000001A; 
    border-bottom: 1px solid #0000001A; 
    height: 224px; 
} 
.industry__fon h1{ 
 font-family: 'Inter', sans-serif; 
font-size: 36px; 
font-style: italic; 
font-weight: 500; 
line-height: 64px; 
letter-spacing: -0.04em; 
padding: 40px 48px 41px 48px; 
} 
.sub_box { 
    width: 1280px; 
    height: 442px; 
    border-radius: 60px; 
    background-color: #E7F9FD; 
    position: relative; 
} 
.left_kissing { 
    position: absolute; 
    left: 0px; 
    top: 67px; 
    border-radius: 30px; 
    z-index: 101; 
} 
.sub { 
    margin-bottom: 160px; 
} 
.right_kissing { 
    position: absolute; 
    right: 0; 
    top: 200px; 
    border-radius: 30px; 
    z-index: 101; 
} 
.sub_box h2{ 
    font-size: 48px; 
    font-weight: 600; 
    line-height: 58.09px; 
    letter-spacing: -0.04em; 
    text-align: center; 
    padding-top: 80px; 
    font-family: 'Inter' , sans-serif; 
}  
.sub_box p { 
    font-family:'Inter' , sans-serif; 
    font-size: 16px; 
    font-weight: 400; 
    line-height: 28px; 
    text-align: center; 
    padding: 24px 64px; 
    color: #00000099; 
} 
.sub_box { 
    text-align: center; 
    position: relative; 
} 
.sub_box input { 
    border-radius: 30px; 
    width: 480px; 
    height: 80px; 
    color: #000000; 
    text-align: start; 
    padding-left: 20px; 
    border: none; 
} 
.sub_box button { 
    width: 160px; 
    height: 60px; 
    background-color: #000000; 
    color: #ffffff; 
    border-radius: 15px; 
    position: absolute; 
    top: 124px; 
    right: 32%; 
    cursor: pointer; 
    margin-top: 126px; 
} 
.menu{ 
    margin-bottom: 160px; 
} 
.menu__list{ 
    display: flex; 
    column-gap: 40px; 
} 
.menu__list img{
border-radius: 20px; 
} 
.menu h1{ 
margin: 160px 0 80px; 
text-align: center; 
font-family: 'Inter', sans-serif; 
font-size: 36px; 
font-weight: 600; 
line-height: 43.57px; 
letter-spacing: -0.04em; 
} 
.son__fruits{ 
    display: flex; 
    column-gap: 16px; 
} 
.son__beef{ 
    display: flex; 
    column-gap: 16px; 
} 
.son__eggs{ 
    display: flex; 
    column-gap: 16px; 
} 
.son__shavuha{ 
    display: flex; 
    column-gap: 16px; 
} 
.menu__list h5{ 
font-family: 'Inter', sans-serif; 
font-size: 18px; 
font-weight: 600; 
line-height: 26px; 
letter-spacing: -0.04em; 
padding: 16px 0 24px; 
} 
.menu__list p{ 
font-size: 14px; 
font-weight: 500; 
line-height: 16.94px; 
letter-spacing: -0.02%; 
color: #00000099;  
font-family: 'Inter', sans-serif ; 
} 
.frikodelki{ 
display: flex; 
margin-left: 40px; 
} 
.friko{ 
display: flex; 
flex-direction: column; 
padding-left: 24px; 
row-gap: 16px; 
} 
.pasta{ 
display: flex; 
margin-left: 40px; 
} 
.pastas{ 
display: flex; 
flex-direction: column; 
padding-left: 24px; 
row-gap: 16px; 
} 
.cucumber{ 
display: flex; 
margin-left: 40px; 
} 
.cucum{ 
display: flex; 
flex-direction: column; 
padding-left: 24px; 
row-gap: 16px; 
} 
 
 
 
.manu_list a { 
    text-decoration: none; 
    color: #000000; 
    cursor: pointer; 
    font-family: 'Inter' , sans-serif; 
    font-size: 16px; 
    font-weight: 500; 
    line-height: 19.36px; 
    letter-spacing: -0.02em; 
} 
.manu_list ul { 
    display: flex; 
    justify-content: space-between; 
    column-gap: 60px; 
} 
.manu_list { 
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 48px; 
} 
.manu_list p { 
    font-family: 'Inter', sans-serif; 
    font-size: 16px; 
    font-weight: 400; 
    line-height: 28px; 
    color: #00000099; 
} 
.logo_footer { 
    margin-bottom: 16px; 
} 
.footer_end::before { 
    content: ''; 
    display: block; 
    width: 1280px; 
    height: 100px; 
    color: #0000001A; 
    margin: 0 auto; 
    margin-bottom: 48px ; 
} 
.copyright P { 
    font-family: 'Eudoxus Sans' ,sans-serif; 
    font-size: 18px; 
    font-weight: 400; 
    line-height: 22.68px; 
    letter-spacing: -0.02em; 
    text-align: center; 
} 
.copyright a { 
    text-decoration: none; 
    color: #FF7967  ; 
} 
.copyright { 
    position: relative; 
    margin-top: 48px; 
    margin-bottom: 48px; 
} 
.copyright::before{ 
    content: ''; 
    width: 1280px; 
    height: 1px; 
    background: #0000001A; 
    display: none; 
    margin-bottom: 48px; 
} 
.logo1 { 
    display: flex; 
    position: absolute; 
    top: 0; 
    right: 0; 
    column-gap: 40px; 
    margin-top: 40px; 
    }
